<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SelFrameworkSuite" parallel="tests" thread-count="${parallel.count}">
    <parameter name="environment" value="${env}"/>
    <test name="CucumberFeatures">
        <classes>
            <class name="com.example.framework.runners.CucumberTestNGRunner"/>
        </classes>
    </test>
</suite>